@import './base.css';

/*Header*/
.hero_header {
    background-image: url(/public/img/bollascen2.png);
    background-position: center;
    background-size: cover;
    height: 900px;
}
.logo {
    font-size: 4rem;
    font-weight: 500;
    color: white;
}
.ms_menu {
    font-weight: 450;
    font-size: 1.75rem;
    margin-top: 1.75rem;
}
/*Main*/
.bord_img {
    border-radius: 20px;
    margin: 4rem auto;
}
/*Footer*/
footer {
    color: white;
}

