/* RESET CSS */
html, body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.test-border0{border: 2px solid blueviolet;}
.test-border1{border: 1px solid orange;}
.test-border2{border: 1px solid blue;}
.test-border3{border: 1px solid green;}

.test-header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
